.my-game-menu{
    width: 100%;
    height: 100vh;
    background-image: url("/static/image/menu/background.gif");
    background-size: 100% 100%;
    user-select: none;
}

.my-game-menu-field{
    width: 20vw;
    position: relative;
    top: 40%;
    left: 20%;
}
   

.my-game-menu-field-item{
    color: white;
    height: 6vh;
    width: 18vw;
    font-size: 4vh;
    font-style: italic;
    text-align: center;
    background-color: rgba(39,21,28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
    cursor: pointer;
    margin-bottom: 2vh;
}

.my-game-menu-field-item:hover{
    transform: scale(1.2);
    transition: 100ms;
}

.my-game-play{
    width: 100%;
    height: 100vh;
    user-select: none;
}
